<!DOCTYPE HTML>

<html>
	<head>
		<title>To Do List</title>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<script src="js/script.js"></script>
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:700,400' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Raleway:500' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" type="text/css" href="stylesheets/main-style.css">
	</head>
	<body>
	<div id="main">
		<p>Your To-Do List</p>
		<form onkeypress="return event.keyCode != 13;">
			<div class="center_div"><input name="box" placeholder="Enter something here!" maxlength="35"></div>
		</form>
		<br>
			<div class="center_div"><div id="button">Add item!</div></div>
			<ul>
			</ul>
	</div>
	</body>
</html>

